.circle {
    position: absolute;
    right: 10%;
    top: 6%;
    margin-top: 4%;
}

.inner{
    position: relative;
    color: white;
    background-color: rgb(247, 175, 141);
    height: 15vh;
    width: 35vw;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0);
    margin-top: 2%;
    clip-path: circle(5% at 90% 15%);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.inner:hover{
    background-color: rgb(0, 204, 255);
    clip-path: circle(75%);
}

.two:hover{
    background-color: rgb(248, 116, 220);
}

.three:hover{
    background-color: rgb(159, 107, 228);
}